{%extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-3 panel sticky-top"  style="padding: 0!important;scroll-behavior: smooth;">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid">
                        <a href="{% url 'profile:home' %}" class="navbar-brand d-md-none" style="font-family: 'PT Serif',Serif;">Gourab Sinha</a>
                        <button class="navbar-toggler sticky-top" data-toggle="collapse" data-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul  style="height: 100vh;overflow: auto;" role="menu" class="navbar-nav nav-pills flex-column ">
                                <li class="nav-item">
                                    <a href="{% url 'profile:home' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" data-toggle="modal" data-target="#resume" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Resume</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="{% url 'company:companies' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Work Experience</a>
                                </li>
                                {% for company in companies %}
                                <li class="nav-item">
                                    <a href="{% url 'company:companydetail' company.id %}" class="nav-link"  style="font-family: 'PT Serif',Serif;">{{company.name}}</a>
                                </li>
                                {% endfor %}
                                <li class="nav-item">
                                    <a href="{% url 'project:projects' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Projects</a>
                                </li>
                                {% for project in projects %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#{{project.slug}}" style="font-family: 'PT Serif',Serif;">{{project.title}}</a>
                                </li>
                                {% endfor %}
                                
                                <li class="nav-item">
                                    <a href="{% url 'certificate:certificates' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Certifications</a>
                                </li>

                                {% for certificate in certificates %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#{{certificate.slug}}" style="font-family: 'PT Serif',Serif;">{{certificate.title}}</a>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>
        <!--  MODALS Declarations      -->
        <!--  Work Experiences      -->
        {%for company in companies %}
        <div class="modal" id="{{company.slug}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>{{company.name}}</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: {{company.joining_date}} - {%if company.currently_working%} Present {%else%} {{company.ending_date}} {%endif%}
                            </h6>
                            <ul class="text-left">
                                <li>Role: {{company.role}} </li>
                                <li>{%if company.currently_working%}
                                    Working in : {{company.team}}
                                    {%else%}
                                    Worked in : {{company.team}}
                                    {%endif%}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        <!--  Projects Completed      -->
        {%for project in projects%}
        <div class="modal" id="{{project.slug}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>{{project.title}}</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: {{project.start_date}} - 
                                {%if project.end_date%}
                                {{project.end_date}}
                                {%else%}
                                Present
                                {%endif%}
                            </h6>
                            <p class="text-left">
                                {%if project.tech_used.all|length > 0 %}
                                    Technologies used: 
                                    {%for tech in project.tech_used.all%}
                                        {{tech}}
                                    {%endfor%}
                                    <br/>
                                {%endif%}
                                {{project.description}}
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        {%if project.verify_url%}
                        <a href="{{project.verify_url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        {%endif%}
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

        <!--  Certifications       -->
        {%for certificate in certificates%}
        <div class="modal" id="{{certificate.slug}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>{{certificate.title}}</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: {{certificate.start_date}} - 
                                {%if certificate.expire_date %}
                                {{certificate.expire_date}}
                                {%else%}
                                Present
                                {%endif%}
                            </h6>
                            {%if certificate.skills.all|length > 0 %}
                                Technologies covered: 
                                {%for skill in certificate.skills.all%}
                                {{skill}}
                                {%endfor%}
                                <br/>
                                {{certificate.description}} 
                            {%else%}
                            {{certificate.description}}
                            {%endif%}
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        {%if certificate.verify_url %}
                        <a href="{{certificate.verify_url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        {%endif%}
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
{% endblock content %}
