{%extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-3 panel sticky-top"  style="padding: 0!important;scroll-behavior: smooth;">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid">
                        <a href="{% url 'profile:home' %}" class="navbar-brand d-md-none" style="font-family: 'PT Serif',Serif;">Gourab Sinha</a>
                        <button class="navbar-toggler sticky-top" data-toggle="collapse" data-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul  style="height: 100vh;overflow: auto;" role="menu" class="navbar-nav nav-pills flex-column ">
                                <li class="nav-item">
                                    <a href="{% url 'profile:home' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Home</a>
                                </li>
                                
                                <!-- <li class="nav-item">
                                    <a href="#" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Work Experience</a>
                                </li> -->
                                
                                <li class="nav-item">
                                    <a href="{% url 'project:projects' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Projects</a>
                                </li>
                                {% for project in projects %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#{{project.title}}" style="font-family: 'PT Serif',Serif;">{{project.title}}</a>
                                </li>
                                {% endfor %}
                                
                                <!-- <li class="nav-item">
                                    <a href="#" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Certifications</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>
        <!--  MODALS Declarations      -->
        <!--  Work Experiences      -->

        <!--  Projects Completed      -->
        {%for project in projects%}
        <div class="modal" id="{{project.title}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>{{project.title}}</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: {{project.start_date}} - {{project.end_date}}</h6>
                            <p class="text-left">
                                {{project.description}}
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="{{project.verify_url}}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}

        <!--  Certifications       -->
{% endblock content %}
