{%extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-3 panel sticky-top"  style="padding: 0!important;scroll-behavior: smooth;">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid">
                        <a href="{% url 'profile:home' %}" class="navbar-brand d-md-none" style="font-family: 'PT Serif',Serif;">Gourab Sinha</a>
                        <button class="navbar-toggler sticky-top" data-toggle="collapse" data-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul  style="height: 100vh;overflow: auto;" role="menu" class="navbar-nav nav-pills flex-column ">
                                <li class="nav-item">
                                    <a href="{% url 'profile:home' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Home</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="#" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Work Experience</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#sdeRole" style="font-family: 'PT Serif',Serif;">Software Engineer @ Odessa</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#sdeinternRole" style="font-family: 'PT Serif',Serif;">Software Engineer Intern @ Odessa</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#taRole" style="font-family: 'PT Serif',Serif;">Online Teaching Assistant @ Coding Ninjas</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#sdeRole" style="font-family: 'PT Serif',Serif;"></a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'project:projects' %}" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Projects</a>
                                </li>
                                {% for project in projects %}
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#portfolioProject" style="font-family: 'PT Serif',Serif;">{{project.title}}</a>
                                </li>
                                {% endfor %}
                                <!-- <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#textclassProject" style="font-family: 'PT Serif',Serif;">Text Classification</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#instabotProject" style="font-family: 'PT Serif',Serif;">InstaBot</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#zomatoProject" style="font-family: 'PT Serif',Serif;">Zomato Data Analyser</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#casestudyProject" style="font-family: 'PT Serif',Serif;">Case Study For Startup Fundings</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#serverconfigProject" style="font-family: 'PT Serif',Serif;">Linux Server Configuration</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#restaurantProject" style="font-family: 'PT Serif',Serif;">Restaurant Item Catalog</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#loganalyseProject" style="font-family: 'PT Serif',Serif;">Log Analysis</a>
                                </li> -->
                                <li class="nav-item">
                                    <a href="#" class="nav-link font-weight-bold text-dark" style="font-family: 'PT Serif',Serif;">Certifications</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#javabasic" style="font-family: 'PT Serif',Serif;">Java Basic</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#restapi" style="font-family: 'PT Serif',Serif;">REST API Intermediate</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#problemsolvingbasic" style="font-family: 'PT Serif',Serif;">Problem Solving Basic</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#pythonbasic" style="font-family: 'PT Serif',Serif;">Python Basic</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#dsmlexcellence" style="font-family: 'PT Serif',Serif;">Data Science and Machine Learning Excellence</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#dsmlcomplete" style="font-family: 'PT Serif',Serif;">Data Science and Machine Learning Completion</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#tashipcertificate" style="font-family: 'PT Serif',Serif;">Online Teaching Assistant</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#udacitynano" style="font-family: 'PT Serif',Serif;">Udacity Full Stack Nano Degree</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#ccdsap" style="font-family: 'PT Serif',Serif;">Codechef Certified Data Structure and Algorithm</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link" data-toggle="modal" data-target="#btech" style="font-family: 'PT Serif',Serif;">Bachelor of Technology</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
        </div>
        <!--  MODALS Declarations      -->
        <!--  Work Experiences      -->

        <!-- <div class="modal" id="sdeRole">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Software Engineer @ Odessa Inc.</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: 5 months | May 2019 - Sept 2019</h6>
                            <ul>
                                <li>Worked with feature development team, used C# and LINQ to plan, to design and develop the equated monthly installment for feature Lessee and Lessor.</li>
                                <li>Wrote C# and LINQ code to support the business logic.</li>
                                <li>Developed LeaseWave Prototype with C#, LINQ, SQL Server.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="sdeinternRole">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Software Engineer Intern @ Odessa Inc.</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: 8 months | Oct 2018 - May 2019</h6>
                            <ul>
                                <li>Worked with feature development team and help them in developing features</li>
                                <li>Wrote C# and LINQ code to support the business logic.</li>
                                <li>Fixed bugs in codes.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="taRole">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Online Teaching Assistant @ Coding Ninjas</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: 4 months | Dec 2019 - April 2020</h6>
                            <ul>
                                <li>Take doubt sessions.</li>
                                <li>Debug students codes</li>
                                <li>Help students in their assignments and projects.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!--  Projects Completed      -->
        <!-- <div class="modal" id="portfolioProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Portfolio</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: July 2020 - July 2020</h6>
                            <ul>
                                <li>In this project I have designed, developed my portfolio.</li>
                                <li>For backend development I have used Python Django</li>
                                <li>For frontend development I have used Bootstrap</li>
                                <li>Outcomes: MVC architecture knowledge gained, Django Framework, Bootstrap learnt.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/Portfolio" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="textclassProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Text Classification</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: 14 days | May 2020 - May 2020</h6>
                            <ul>
                                <li>This project is part of Coding Ninjas Data Science and Machine Learning Course.</li>
                                <li>Using conditional probability i.e Bayes Theorem I have designed a prediction model which first trained on dataset present in UCL and predict for future input textfile.</li>
                                <li>First built the dictionary of words with their frequency.</li>
                                <li>After that built the model and in training period model takes training input like X as input and Y as output in training period</li>
                                <li>Provided test data in the form of X only.</li>
                                <li>Achieved 96% accuracy.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/Machine_Learning/blob/master/Naive%20Bayes%20Classifier/Project/Text_Classification.ipynb" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="instabotProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Instagram Bot</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: May 2020 - May 2020</h6>
                            <ul>
                                <li>Prime focus of this project was how to collect data using selenium automation tool.</li>
                                <li>Wrote python script wherein I used selenium package to collect the data from Instagram.com like which #tag is in trending, what post in recent few days.</li>
                                <li>Once collection of data is done, using Numpy and Pandas got the statistics for overall data.</li>
                                <li>NOTE: This project is just for learning purpose.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/InstaBot" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="zomatoProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Zomato Data Analyser</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: Mar 2020 - Mar 2020</h6>
                            <ul>
                                <li>This project is a part of Coding Ninjas Data Science and Machine Learning Course.</li>
                                <li>Used Zomato API to verify the information whether provided dataset has the correct information or not.</li>
                                <li>Python numpy, pandas, json and matplot modules were used to answer the queries.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/Zomato-Data-Analysis" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="casestudyProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Zomato Data Analyser</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: Feb 2020 - Feb 2020</h6>
                            <ul>
                                <li>The purpose of this project was to answer the queries with the help of python modules for the provided dataset.</li>
                                <li>Wrote script with pandas, numpy, matplot to answer the queries.</li>
                                <li>Achieved 98% accuracy.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/Data-Science/tree/master/Case%20Project%20II" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="serverconfigProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Linux Server Configuration</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: Jun 2019 - Jun 2019</h6>
                            <ul>
                                <li>The goal of this project is to host a web application either Restaurant Catalog Project and configure the linux server.</li>
                                <li>It also shows how to secure the server from a number of attack vectors, install and configure database server as well.</li>
                                <li>Used Amazon LightSail to host the application and configure the server.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/Udacity-Linux-Server-Configuration" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="restaurantProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Restaurant Item Catalog</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: May 2019 - May 2019</h6>
                            <ul>
                                <li>In this project I have used my skills to develop a RESTFUL Web Application.</li>
                                <li>Wrote code for CRUD implementation to provide support of create, view, update and delete.</li>
                                <li>Backend: Python Flask Framework was used to developed this web application.</li>
                                <li>Frontend: HTML and CSS.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/Udacity-Item-Catalog-Application" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="loganalyseProject">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Restaurant Item Catalog</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <h6>Duration: Apr 2019 - Apr 2019</h6>
                            <ul>
                                <li>This is a minor project.</li>
                                <li>In this project wrote SQL queries which fetches information from a "news" database which is part of a website.</li>
                                <li>SQL: Postgre was used to answer the queries.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://github.com/gourab-sinha/Udacity-LogAnalysis" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Github</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->

        <!--  Certifications       -->
        <!-- <div class="modal" id="javabasic">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Java Basic</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'javabasic.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://www.hackerrank.com/certificates/9b599f557032" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="restapi">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>REST API</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'restapi.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://www.hackerrank.com/certificates/558b081a95e9" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="problemsolvingbasic">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Problem Solving Basic</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'problemsolvingbasic.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://www.hackerrank.com/certificates/7ed755647bc9" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="pythonbasic">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Python Basic</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'pythonbasic.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://www.hackerrank.com/certificates/8c1a4312dec8" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="dsmlexcellence">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Data Science and Machine Learning Excellence</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'dsmlexcellence.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://students.codingninjas.com/verify/16db583e36624322" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="dsmlcomplete">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Data Science and Machine Learning Completion</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'dsmlcomplete.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://students.codingninjas.com/verify/43ae11fab80c160d" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="tashipcertificate">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Online Teaching Assistant</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'taship.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://ninjasfiles.s3.amazonaws.com/certificate15539fab759c9437fb4522d4fb3c3f97ce71.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="udacitynano">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Udacity Full Stack Nano Degree</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'udacitynano.png' %}" alt="">
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://confirm.udacity.com/EG3V34KA" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="ccdsap">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Online Teaching Assistant</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'ccdsap.png' %}" alt="">
                            <ul>
                                <li>Username: gourab19964u</li>
                                <li>Certificate ID: bcf0a8b</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://www.codechef.com/certificates/verify" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="btech">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h5>Bachelor of Technology</h5>
                        </div>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex flex-column modal-content-font">
                            <img src="{% static 'btech.png' %}" alt="">
                            <ul>
                                <li>Registration: 11503537</li>
                                <li>Certificate ID: 250746</li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer modal-content-font">
                        <a href="https://www.lpu.in/authenticate/" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Verify</a>
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->




{% endblock content %}
